# This is an example dotenv file that should modfied and copied to .env in the project directory


# Normally these environment variables will be provided from the ECS Task running dagster

# The example file is a suitable configuration for a local installation, just supplement with passwords
SNOWFLAKE_USER={username}
SNOWFLAKE_PASSWORD={password}
SNOWFLAKE_ACCOUNT=fbecjtl-tb09991

# The Role to use for the DBT operations (these will injected into profile.yaml)
DBT_SNOWFLAKE_ROLE=ETL
DBT_SNOWFLAKE_DATABASE=DEVELOPMENT
DBT_SNOWFLAKE_SCHEMA=<insert your prefix here>

SNOWFLAKE_WAREHOUSE=PROD_ETL

# This should point to the URL where the dagit ui is reachable
DAGIT_BASE_URL=http://localhost:3000

# This is a comma separated list of e-mail addresses that should be notified of any failures
NOTIFICATION_EMAILS={email_here}

# The bucket where documentation should end up
DOCUMENTATION_BUCKET=sunray-dagster-logs

# PLEASE OBSERVE: In order to save state between dagster runs please set this in the calling shell
# before invoking "dagster dev"
DAGSTER_HOME=/home/{username}/dagster_home/
